<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hireme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HireMe">

        <activity
            android:name=".frontend.it20245092.IT20245092_Jobs"
            android:exported="true" />
        <activity
            android:name=".frontend.it20245092.Jobs"
            android:exported="true" />
        <activity
            android:name=".frontend.it20245092.IT20245092_DeleteConfimation"
            android:exported="true"
            android:theme="@style/Theme.HireMe.popMe" />
        <activity
            android:name=".frontend.it20245092.IT20245092_WorkHistory"
            android:exported="true" />
        <activity
            android:name=".frontend.it20245092.IT20245092_Requests"
            android:exported="true" />
        <activity
            android:name=".frontend.it20245092.IT20245092_JobDetails"
            android:exported="true" />
        <activity
            android:name=".frontend.it20245092.IT20245092_MyJobs"
            android:exported="true" />
        <activity
            android:name=".frontend.it20224370.IT20224370_Workerprofile" android:parentActivityName=".IT20224370_Workerprofile"
            android:exported="true" />
        <activity
            android:name=".frontend.it20224370.IT20224370_IndustrialJobs" android:parentActivityName=".IT20224370_JobCategories"
            android:exported="true" />
<!--        <activity-->
<!--            android:name=".frontend.it20224370.IT20224370_EditProfile"-->
<!--            android:exported="true" />-->
<!--        <activity-->
<!--            android:name=".frontend.it20224370.It20224370_UpdateRequests" android:parentActivityName=".IT20224370_MyRequests"-->
<!--            android:exported="true" />-->
        <activity
            android:name=".frontend.it20224370.IT20224370_MyRequests"
            android:exported="true" />
        <activity
            android:name=".frontend.it20224370.IT20224370_JobRequest"
            android:exported="true" />
        <activity
            android:name=".frontend.it20224370.IT20224370_Householdjobs"
            android:exported="true" />
        <activity
            android:name=".frontend.it20224370.IT20224370_JobCategories"
            android:exported="true" />

        <activity
            android:name=".frontend.it20133290.IT20133290_LoginActivity"
            android:exported="true" />
        <activity
            android:name=".frontend.it20133290.IT20133290_AcceptedRequest"
            android:exported="true" />
        <activity
            android:name=".frontend.it20133290.IT20133290_WorkerRequest"
            android:exported="true" />
        <activity
            android:name=".frontend.DashBoard"
            android:exported="true" />
        <activity
            android:name=".frontend.it20133290.IT20133290_Popup_apply_form"
            android:exported="true"
            android:theme="@style/Theme.HireMe.popMe" />
        <activity
            android:name=".frontend.it20133290.IT20133290_CustomerMenu"
            android:exported="true" />
        <activity
            android:name=".frontend.it20133290.IT20133290_SentRequest"
            android:exported="true" />
        <activity
            android:name=".frontend.it20133290.IT20133290_FindVacancy"
            android:exported="true" />
        <activity
            android:name=".frontend.it20133290.IT20133290_LatestVacancy"
            android:exported="true" />
        <activity
            android:name=".frontend.it20133290.IT20133290_PublishedVacancy"
            android:parentActivityName=".frontend.it20133290.IT20133290_CustomerMenu"
            android:exported="true" />
        <activity
            android:name=".frontend.it20133290.IT20133290_AddVacancy"
            android:parentActivityName=".frontend.it20133290.IT20133290_CustomerMenu"
            android:exported="true" />
        <activity
            android:name=".frontend.it20133290.IT20133290_JobMenu"
            android:exported="true" />
        <activity
            android:name=".frontend.it20133290.IT20133290_VacancyMenu"
            android:parentActivityName=".frontend.DashBoard"
            android:exported="true" />
        <activity
            android:name=".frontend.MainMenu"
            android:exported="true"
            android:label="Dashboard" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".frontend.it20245092.IT20245092_workerprofile"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>